.content-description {
    width: auto;
    display: inline-block;
    padding: 20px 25px 80px;
    font: 16px/20px Verdana, Geneva, sans-serif;
}

.content-description .aside-info {
    float: left;
    width: 20%;
    padding: 10px 0px 0px;
}
.content-description form {
    float: left;
}
.content-description .description-info textarea {
    float: left;
    text-align: left;
    overflow: hidden;
}

.content-description .description-info {
    margin-left: 30px;
    float: left;
}