.header {
    height: 60px;
    background: rgba(31, 24, 21, .90);
    border: 1px solid;
    white-space: nowrap;
}

.logo {
    float: left;
    font: 20px Verdana, Geneva, sans-serif;
    color: rgba(196,196,196,1);
    display: inline-block;
    width: 130px;
    height: 30px;
    background: rgba(41,164,178,1);
}

.user-panel {
    display: inline-block;
    min-width: 160px;

    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
}
#login {
    display: inline-block;
    text-align: center;
    padding-top:10px;
    width: 100px;
    height: 30px;
    float: right;
    margin: 1px 1px 0 0;
    margin-left: 5px;
}
#registration {
    display: inline-block;
    text-align: right;
    padding-top:10px;
    width: 100px;
    height: 30px;
    float: right;
    margin: 1px 1px 0 0;
    margin-left: 5px;
}

#headerLinlk {
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    color: rgba(196,196,196,1);
}
#headerLinlk:hover {
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    color: rgba(41,164,178,1);
}
a {
    text-decoration: none;
    color: #000;
    outline: none;
}