/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

div {
    display: block;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
body {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1000px;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
}

/* Middle
-----------------------------------------------------------------------------*/
#floater {
    height: 80px;
}
.content {
    text-align: center;
}

.button {display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    margin: 12px;
    border: 1px solid #018dc4;
    border-radius: 6px;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgb(255,255,255);
    -webkit-box-shadow: 3px 2px 0 0 rgba(0,0,0,0.4) ;
    box-shadow: 3px 2px 0 0 rgba(0,0,0,0.4) ;
}
.button:hover {
    background: -webkit-linear-gradient(0deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
    background: -moz-linear-gradient(90deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
    background: linear-gradient(90deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
}
.formHeader {
    margin: 3px;
    padding: 2px;
    border: none;
    font: normal 18px/normal Verdana, Geneva, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
}
.inputField {display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 7px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: rgba(0,0,0,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2) ;
}
.link {

    font: 16px Verdana, Geneva, sans-serif;
}
.message {
    padding: 2px;
    border: none;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: rgba(173,43,43,1);
    text-align: center;
    background: rgba(252,252,252,1);
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -100px auto 0;
    height: 100px;
    position: relative;
}