.tab-content {
    width: 100%;
    background: #fff;
    padding: 0;
}
.content-description-wrap .adminControl a {
    margin-top: 5px;
    color: #FF9C4B;
    display: inline-block;
    width: 130px;
    height: 30px;
    font: normal 18px/1 Verdana, Geneva, sans-serif;
}
.content-description-wrap .adminControl a:hover {
    margin-top: 5px;
    color: #018dc4;
    display: inline-block;
    width: 130px;
    height: 30px;
    font: normal 18px/1 Verdana, Geneva, sans-serif;
    text-decoration: underline;
}
.content-description-wrap .adminControl {
    vertical-align: middle;
    padding-top: 3px;
    text-align: center;
    border: solid 1px #FF5D4B;
    width: 150px;
    height: 40px;
}

.content .content-description-wrap .movieTitle h2 {
    color: #0089FF;
    font: normal 26px/1 Verdana, Geneva, sans-serif;
    text-decoration-line: underline;
}

.content-description-wrap {
    background-color: #E9FBFF;
    border-bottom: 1px solid #e7e4e2;
    font: normal 14px/1 Verdana, Geneva, sans-serif
}

div {
    display: block;
}

.content-description {
    max-width: 1175px;
    padding: 20px 25px 80px;
    margin: 0 auto;
    overflow: hidden;
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    line-height: 20px;
}


.content-description .aside-info {
    float: left;
    width: 20%;
    padding: 10px 0 0;
}

.content-description .description-info {
    float: right;
    width: 75%;
    padding: 9px 0 0;
}

.content-description .text-block {
    text-align: left;
    overflow: hidden;
    margin: 0 0 22px;

}
dt {
    display: block;
}

.film-data-list dt {
    float: left;
    clear: left;
    margin: 0 18px 0 0;
}
.content-description .film-data-list dd {

    margin: 0 0 15px;
}
.schedule-section {
    width: 100%;
    overflow: hidden;
    background: #e7e4e2;
}
.schedule-box {
    width: 100%;
    overflow: hidden;
    margin: 0 0 77px;
    position: relative;
}
.schedule-section-holder {
    padding: 16px 0 0;
    max-width: 1225px;
    margin: 0 auto;
}
.schedule-box {
    width: 100%;
    overflow: hidden;
    margin: 0 0 77px;
    position: relative;
}
.schedule-box .schedule-row {
    overflow: hidden;
    background: #fff;
    margin: 0 0 2px;
    padding: 20px 25px 0;
    position: relative;
}
.schedule-box .theater-info {
    float: left;
    width: 250px;
    margin: 0 20px 20px 0;

}
.schedule-box .schedule-holder {
    margin: 3px 0 0;
    display: table;
}
div {
    display: block;
}
.schedule-section {
    width: 100%;
    overflow: hidden;
    background: #e7e4e2;
}
.schedule-box .schedule-frame {
    overflow: hidden;
    margin: 0 0 10px;
}
.scheduleTitle {
    text-align: center;
    font: normal 28px/1 Verdana, Geneva, sans-serif;
}
.schedule-box .schedule-list {
    padding: 0;
    list-style: none;
    overflow: hidden;
    /* margin: 0 0 0 -10px; */
    margin: 0;
    /* margin: 0 0 0 122px; */
}
.schedule-box .schedule-list li a{
    float: left;
    margin: 2px 20px 2px 20px;
    width: 100px;
    height: 40px;
    font: normal 16px/1 Verdana, Geneva, sans-serif;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.schedule-box .schedule-list a, .schedule-box .schedule-list .passed {
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.schedule-box .schedule-list .buy {
    display: none;
}