#floater {
    padding-top: 20px;
    font: normal 30px/1 Verdana, Geneva, sans-serif;
    text-align: center;
    height: 10%
}
.dates-holder {
    float: left;
    width:100%;
    margin: 40px;
}

.dates-holder .date-block.pressed {

    display: inline-block;
    margin-bottom: -15px;
    color: #fff;
    background: rgba(41,164,178,1);
    border-color: 0#ffba0;
}
.dates-holder .date-block {
    font: normal 16px/1 Verdana, Geneva, sans-serif;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #d4d4d4;
    width: 110px;
    height: 50px;
    position: relative;
}
.pressed {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: -15px;
}


.film-box-holder .film-box {
    text-align:center;
    margin: 0 0 25px 25px;
    float: left;
    width: 175px;
}
img {max-width:100%;height:auto;}