
.placeScheme {
    display: block;
    width:100%;
    margin: 40px;
}

.content .adminControl a {
    margin-top: 5px;
    color: #FF9C4B;
    display: inline-block;
    width: 130px;
    height: 30px;
    font: normal 18px/1 Verdana, Geneva, sans-serif;
}
.content .adminControl a:hover {
    margin-top: 5px;
    color: #018dc4;
    display: inline-block;
    width: 130px;
    height: 30px;
    font: normal 18px/1 Verdana, Geneva, sans-serif;
    text-decoration: underline;
}
.content .adminControl {
    vertical-align: middle;
    padding-top: 3px;
    text-align: center;
    border: solid 1px #FF5D4B;
    width: 150px;
    height: 40px;
}

.button {display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    margin: 12px;
    border: 1px solid #018dc4;
    border-radius: 6px;
    font: normal 16px/normal Verdana, Geneva, sans-serif;
    color: rgba(0,0,0,1);
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgb(255,255,255);
    -webkit-box-shadow: 3px 2px 0 0 rgba(0,0,0,0.4) ;
    box-shadow: 3px 2px 0 0 rgba(0,0,0,0.4) ;
}
.button:hover {
    background: -webkit-linear-gradient(0deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
    background: -moz-linear-gradient(90deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
    background: linear-gradient(90deg, rgba(95,173,146,0.16) 0, rgba(45,155,142,0.1) 50%, rgba(27,155,144,0.06) 54%, rgba(179,233,242,0.28) 100%);
}