.content-userPage {
    width: auto;
    display: inline-block;
    padding: 20px 25px 80px;
    font: 16px/20px Verdana, Geneva, sans-serif;
}

.content-userPage #movieForm h2{
    color: rgba(5, 0, 254, 1);
}

.content-description .aside-info {
    float: left;
    width: 20%;
    padding: 10px 0px 0px;
}
.content-description form {
    float: left;
}

.content-description .tickets-info {
    margin-left: 30px;
    float: left;
}